In [1]:
from arcgis.gis import GIS
import getpass
from arcgis.geoenrichment import *
from arcgis.geometry import Polygon
from arcgis.gis import GIS
import getpass
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor
from IPython.display import display

In [2]:
#Connect to my account

password= getpass.getpass("Enter pass")
gis= GIS("https://www.arcgis.com", "Nodira_Tillayeva_LearnArcGIS", password)
print("Connected to {}".format(gis.properties.urlKey+"."+gis.properties.customBaseUrl))

Connected to learngis2.maps.arcgis.com

In [3]:
coun = get_countries()
coun

,iso2,iso3,name,alt_name,datasets,default_dataset,continent
0,AL,ALB,Albania,ALBANIA,[ALB_MBR_2021],ALB_MBR_2021,Europe
1,DZ,DZA,Algeria,ALGERIA,[DZA_MBR_2021],DZA_MBR_2021,Africa
2,AD,AND,Andorra,ANDORRA,[AND_MBR_2021],AND_MBR_2021,Europe
3,AO,AGO,Angola,ANGOLA,[AGO_MBR_2021],AGO_MBR_2021,Africa
4,AI,AIA,Anguilla,ANGUILLA,[AIA_MBR_2020],AIA_MBR_2020,North America
...,...,...,...,...,...,...,...
172,VE,VEN,Venezuela,"VENEZUELA, BOLIVARIAN REPUBLIC OF",[VEN_MBR_2021],VEN_MBR_2021,South America
173,VN,VNM,Vietnam,VIET NAM,[VNM_MBR_2022],VNM_MBR_2022,Asia
174,VI,VIR,Virgin Islands,UNITED STATES VIRGIN ISLANDS,[VIR_MBR_2020],VIR_MBR_2020,North America
175,ZM,ZMB,Zambia,ZAMBIA,[ZMB_MBR_2021],ZMB_MBR_2021,Africa
176,ZW,ZWE,Zimbabwe,ZIMBABWE,[ZWE_MBR_2021],ZWE_MBR_2021,Africa

In [4]:
uz = Country.get('Uzbekistan')

In [5]:
df = uz.data_collections

# print a few rows of the DataFrame
df.head()

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
Gender,Gender.MALES_CY,2022 Total Male Population,2022 Male Population Totals (MBR),2022
Gender,Gender.FEMALES_CY,2022 Total Female Population,2022 Female Population Totals (MBR),2022
KeyFacts,KeyFacts.TOTPOP_CY,2022 Total Population,2022 Population Totals (MBR),2022
KeyFacts,KeyFacts.POPDENS_CY,2022 Population Density (per sq. km),2022 Population Totals (MBR),2022
KeyFacts,KeyFacts.POPPRM_CY,2022 Population Per Mill,2022 Population Totals (MBR),2022

In [6]:
df.shape

(23, 4)

In [27]:
df.index.unique()

Index(['Gender', 'KeyFacts', 'KeyGlobalFacts', 'PopulationTotals',
       'PurchasingPower'],
      dtype='object', name='dataCollectionID')

In [28]:
df.loc['KeyGlobalFacts']['analysisVariable'].unique()

array(['KeyGlobalFacts.TOTPOP', 'KeyGlobalFacts.TOTHH',
       'KeyGlobalFacts.AVGHHSZ', 'KeyGlobalFacts.TOTMALES',
       'KeyGlobalFacts.TOTFEMALES'], dtype=object)

In [29]:
df.loc['KeyGlobalFacts'].head()

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
KeyGlobalFacts,KeyGlobalFacts.TOTPOP,Total Population,Key Demographic Indicators,NaN
KeyGlobalFacts,KeyGlobalFacts.TOTHH,Total Households,Key Demographic Indicators,NaN
KeyGlobalFacts,KeyGlobalFacts.AVGHHSZ,Average Household Size,Key Demographic Indicators,NaN
KeyGlobalFacts,KeyGlobalFacts.TOTMALES,Male Population,Age: 5 Year Increments,NaN
KeyGlobalFacts,KeyGlobalFacts.TOTFEMALES,Female Population,Age: 5 Year Increments,NaN

In [30]:
# Enriching single address as single line imput
single_address = enrich(study_areas=["Chilanzar"], 
                       data_collections=['KeyGlobalFacts'])

double_address = enrich(study_areas=["Tashkent"], 
                       data_collections=['KeyGlobalFacts'])

In [31]:
# Plot on a map
address_map = gis.map("Tashkent",10)
address_map

MapView(layout=Layout(height='400px', width='100%'))

In [32]:
# single_address.astype(str).spatial.plot(address_map)

single_address.astype(str).spatial.plot(map_widget=address_map,
                   renderer_type='c',  # for class breaks renderer
                   method='esriClassifyNaturalBreaks',  # classification algorithm
                   class_count=1,  # choose the number of classes
                   col='bufferRadii',  # numeric column to classify
                   cmap='viridis',  # color map to pick colors from for each class
                   alpha=0.7  # specify opacity
                   )

double_address.astype(str).spatial.plot(map_widget=address_map,
                   renderer_type='c',  # for class breaks renderer
                   method='esriClassifyNaturalBreaks',  # classification algorithm
                   class_count=1,  # choose the number of classes
                   col='bufferRadii',  # numeric column to classify
                   cmap='viridis',  # color map to pick colors from for each class
                   alpha=0.7  # specify opacity
                   )

True